@use "../foundation/base" as *;

.created {
    padding: 100px 0;
    background-color: $color-bg-dark;

    &__inner {
      @extend %l-inner;
      margin: 0 auto;
      padding: 0 100px;

      @media #{$breakpoint-sp} {
        padding: 0 20px;
      }
    }

    &__title {
      font-size: 32px;
      font-weight: 700;
      text-align: center;
      color: $color-text-main;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      gap: 60px;

      @media #{$breakpoint-sp} {
        flex-direction: column;
        gap: 50px;
      }
    }

    &__item {

      @media #{$breakpoint-sp} {
        width: 100%;
      }
    }
}